{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
<main class="min-h-[calc(100vh-4.5rem)] flex items-center justify-center px-4">
    <div class="h-full max-w-xl">

        <div class="glass-effect rounded-2xl shadow-2xl p-6 sm:p-10">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold bg-gradient-to-r from-blue-400 to-purple-600 bg-clip-text text-transparent mb-2">
                    Reset Password
                </h2>
                <p class="text-gray-400">Forget your password! Don't worry follow the step to reset</p>
            </div>

            <form method="POST" class="space-y-6">
              {% csrf_token %}
                <!-- Username/Email Input -->
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-300 mb-2">{{ form.email.label }}</label>
                    <div class="relative">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3.5 z-10">
                          <i class="fa-solid fa-envelope text-md text-gray-300"></i>
                        </span>
            {% render_field form.email class="search-input w-full pl-10 pr-4 py-3 rounded-lg border border-gray-600/50 text-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition" placeholder="example@moviehouse.com" %}
                    </div>
                </div>

        <!-- Reset Button -->
                <div>
                    <button type="submit" class="w-full telegram-btn text-white px-4 py-3 rounded-lg text-base font-semibold flex items-center justify-center shadow-lg transition-transform duration-200">
                 Reset
                    </button>
                </div>
            </form>

            <!-- Sign Up Link -->
            <p class="text-center text-sm text-gray-400 mt-8">
                Suddenly remember password?
                <a href="{% url 'login' %}" class="font-medium text-blue-400 hover:underline">Login here</a>
            </p>

        </div>
    </div>
</main>
{% endblock %}